
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<div class="container">

  <div class="jumbotron text-center border-bottom">
    <h1 class="font-weight-bold">Mission to Mars</h1>
    <p class="lead">Insert Quick Description</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-dark btn-outline-light" href="scrape" role="button">Scrape New Data</a>
    </p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 style = "color:rgb(210, 93, 31)">Latest Mars News</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{mars.titles[0]}}</h4>
      <p>{{mars.teasers[0]}}</p>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-8 border">
      <h2 class=""><u>Featured Mars Image</u></h2> 
      </br>
      <img src="{{mars.featured_image_url}}" alt="Features Mars Image">
    </div>
    <div class="col-md-4">
      <div class="border">
        </br>
        <h5>Current Weather on Mars</h5>
        {{mars.mars_weather}}
      </div>
      </br>
      <div class="border">
        <h5>Mars Facts</h5>
          {{ mars.fact_table | safe }}
      </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-8 offset-4">
      <h2 class="align-items-center"><u>Mars hemispheres</u></h2>  
    </div>
  </div>
  </br>
  <div class="row">       
          {% for hemisphere in mars.hemisphere_images %} 
            <div class="col-6 border">
            </br>
                  <div>
                    <img width="512 px" height="512 px" src="{{ hemisphere.img_url | safe }}">
                  </div>

                  <div>
                    <h4> {{ hemisphere.title | safe }} </h4>  
                  </div>
          
            </div>
          {% endfor %}
  </div> 

<hr>

</body>

</html>