
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<div class="container fluid">

  <div class="jumbotron text-center border-bottom">
    <h1 class="font-weight-bold">Mission to Mars</h1>
    <p class="lead">Insert Quick Description</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-dark btn-outline-light" href="scrape" role="button">Scrape New Data</a>
    </p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 style = "color:rgb(210, 93, 31)">Top 5 Mars News Artciles</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{mars.titles[0]}}</h4>
      <p>{{mars.teasers[0]}}</p>
      <h4>{{mars.titles[1]}}</h4>
      <p>{{mars.teasers[1]}}</p>
      <h4>{{mars.titles[2]}}</h4>
      <p>{{mars.teasers[2]}}</p>
      <h4>{{mars.titles[3]}}</h4>
      <p>{{mars.teasers[3]}}</p>
      <h4>{{mars.titles[4]}}</h4>
      <p>{{mars.teasers[4]}}</p>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-8">
      <h2 class="">Featured Mars Image</h2> 
      </br>
      <img class="img-responsive rounded" src={{mars.Featured_Image_URL}} alt="Features Mars Image" width="100%" height="auto">
    </div>
    <div class="col-md-4">
        <h2>Mars Facts</h2>
        <br>
        <table class="table-dark">
          {{ mars.Mars_Facts_Table | safe }}
        </table>
          
      </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-8 offset-4">
      <h2 class="align-items-center"><u>Mars Hemispheres</u></h2>  
    </div>
  </div>
  </br>
  <div class="row">       
          {% for hemisphere in mars.image_dict %} 
            <div class="col-6 border">
              <div>
                <h4> "{{ hemisphere.title }}" </h4>  
              </div>  
              <div>
                  <img width="512 px" height="512 px" src= "{{ hemisphere.img_url }}">
              </div>
 
          
            </div>
          {% endfor %}
  </div> 

<hr>

</body>

</html>